In [225]:
import os
import numpy as np
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')
from sklearn import linear_model 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestRegressor

In [226]:
pwd = os.getcwd()
print(pwd)

C:\Users\IQBALE\ClassRoom\Hackathons

In [227]:
input_train = pd.read_excel('C:\\Users\\IQBALE\\ClassRoom\\Hackathons\\BookSales_Data_Train.xlsx')
input_test = pd.read_excel('C:\\Users\\IQBALE\\ClassRoom\\Hackathons\\BookSales_Data_Test.xlsx')

In [228]:
input_train.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [229]:
input_test.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Complete Sherlock Holmes: 2 Boxes sets,Sir Arthur Conan Doyle,"Mass Market Paperback,– 1 Oct 1986",4.4 out of 5 stars,960 customer reviews,A collection of entire body of work of the She...,Short Stories (Books),"Crime, Thriller & Mystery"
1,Learn Docker - Fundamentals of Docker 18.x: Ev...,Gabriel N. Schenker,"Paperback,– Import, 26 Apr 2018",5.0 out of 5 stars,1 customer review,Enhance your software deployment workflow usin...,Operating Systems Textbooks,"Computing, Internet & Digital Media"
2,Big Girl,Danielle Steel,"Paperback,– 17 Mar 2011",5.0 out of 5 stars,4 customer reviews,"'Watch out, world. Here I come!'\nFor Victoria...",Romance (Books),Romance
3,Think Python: How to Think Like a Computer Sci...,Allen B. Downey,"Paperback,– 2016",4.1 out of 5 stars,11 customer reviews,"If you want to learn how to program, working w...",Programming & Software Development (Books),"Computing, Internet & Digital Media"
4,Oxford Word Skills: Advanced - Idioms & Phrasa...,Redman Gairns,"Paperback,– 26 Dec 2011",4.4 out of 5 stars,9 customer reviews,"Learn and practise the verbs, prepositions and...",Linguistics (Books),"Language, Linguistics & Writing"

In [230]:
input_train.shape

(6237, 9)

In [231]:
input_train.isna().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [232]:
input_test.isna().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
dtype: int64

In [233]:
df = pd.concat([input_train,input_test])

In [234]:
df.shape

(7797, 9)

In [235]:
df.head()

,Author,BookCategory,Edition,Genre,Price,Ratings,Reviews,Synopsis,Title
0,Chris Kuzneski,Action & Adventure,"Paperback,– 10 Mar 2016",Action & Adventure (Books),220.00,8 customer reviews,4.0 out of 5 stars,THE HUNTERS return in their third brilliant no...,The Prisoner's Gold (The Hunters 3)
1,Arun Khopkar,"Biographies, Diaries & True Accounts","Paperback,– 7 Nov 2012",Cinema & Broadcast (Books),202.93,14 customer reviews,3.9 out of 5 stars,A layered portrait of a troubled genius for wh...,Guru Dutt: A Tragedy in Three Acts
2,Thomas Hobbes,Humour,"Paperback,– 25 Feb 1982",International Relations,299.00,6 customer reviews,4.8 out of 5 stars,"""During the time men live without a common Pow...",Leviathan (Penguin Classics)
3,Agatha Christie,"Crime, Thriller & Mystery","Paperback,– 5 Oct 2017",Contemporary Fiction (Books),180.00,13 customer reviews,4.1 out of 5 stars,A handful of grain is found in the pocket of a...,A Pocket Full of Rye (Miss Marple)
4,Editors of Life,"Arts, Film & Photography","Hardcover,– 10 Oct 2006",Photography Textbooks,965.62,1 customer review,5.0 out of 5 stars,"For seven decades, ""Life"" has been thrilling t...",LIFE 70 Years of Extraordinary Photography

In [236]:
df.tail()

,Author,BookCategory,Edition,Genre,Price,Ratings,Reviews,Synopsis,Title
1555,Susan Weinschenk,"Computing, Internet & Digital Media","Paperback,– 14 Apr 2011",Design,NaN,4 customer reviews,5.0 out of 5 stars,We design to elicit responses from people. We ...,100 Things Every Designer Needs to Know About ...
1556,ARUN SAGAR,"Biographies, Diaries & True Accounts","Paperback,– 8 May 2013",Children's Reference (Books),NaN,13 customer reviews,3.6 out of 5 stars,"A 30-day course to write simple, sharp and att...","Modern Letter Writing Course: Personal, Busine..."
1557,Khaled Hosseini,Humour,"Paperback,– 6 Sep 2011",Humour (Books),NaN,5 customer reviews,4.0 out of 5 stars,The perennial bestseller-now available as a se...,The Kite Runner Graphic Novel
1558,Heinz Guderian,"Biographies, Diaries & True Accounts","Paperback,– 22 Sep 2009",United States History,NaN,3 customer reviews,3.5 out of 5 stars,Heinz Guderian - master of the Blitzkrieg and ...,Panzer Leader (Penguin World War II Collection)
1559,Barbara Bregstein,"Language, Linguistics & Writing","Paperback,– 16 Sep 2016",Dictionaries,NaN,2 customer reviews,4.5 out of 5 stars,Learn Spanish with the most convenient and eff...,Complete Spanish Step-by-Step

In [237]:
df["BookCategory"].unique()

array(['Action & Adventure', 'Biographies, Diaries & True Accounts',
       'Humour', 'Crime, Thriller & Mystery', 'Arts, Film & Photography',
       'Sports', 'Language, Linguistics & Writing',
       'Computing, Internet & Digital Media', 'Romance',
       'Comics & Mangas', 'Politics'], dtype=object)

In [238]:
df["Edition"].value_counts()

Paperback,– 5 Oct 2017                 60
Paperback,– 2016                       58
Paperback,– 2017                       47
Paperback,– 2019                       37
Paperback,– 2013                       35
                                       ..
Paperback,– Box set, 7 Aug 2012         1
Paperback,– 1 Jan 1993                  1
Paperback,– 27 Oct 1997                 1
Paperback,– 23 Jan 2002                 1
Mass Market Paperback,– 17 May 2011     1
Name: Edition, Length: 3882, dtype: int64

In [239]:
s = pd.Series(["this is a regular sentence",
               "https://docs.python.org/3/tutorial/index.html",
               np.nan])

In [240]:
print(s)

0                       this is a regular sentence
1    https://docs.python.org/3/tutorial/index.html
2                                              NaN
dtype: object

In [241]:
df["Edition_Pre"]= df["Edition"].str.split(',').str[0]

In [242]:
df["Edition_Pre"].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Sheet music',
       'Flexibound', 'Plastic Comb', 'Loose Leaf', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', 'Cards', 'Spiral-bound',
       '(Kannada)', 'Product Bundle', 'Library Binding', '(German)',
       'Leather Bound', '(French)', '(Spanish)', '(Chinese)'],
      dtype=object)

In [243]:
df["Edition_suf"]= df["Edition"].str.split(' ').str[-1]

In [244]:
df["Edition_suf"].unique()

array(['2016', '2012', '1982', '2017', '2006', '2009', '2018', '2015',
       '2013', '1999', '2002', '2011', '1991', '2014', '1989', '2000',
       '2005', '2019', '2008', '2004', '2010', '2007', '2001', '1969',
       '1993', '1992', '2003', '1996', 'Import', '1997', '1995', 'NTSC',
       '1987', '1986', '1990', '1988', '1981', '1976', '1994', '1998',
       '1977', '1974', '1983', '1971', '1985', '1978', 'Facsimile', 'set',
       'Edition', '1964', '1984', '1980', 'Unabridged', '1979', 'Print',
       '1960', '1970', '1975', '1905', '1900', 'Audiobook', '1961',
       '1925', '1973', 'Illustrated', '1942', '1972'], dtype=object)

In [245]:
df["Edition_suf"] = pd.to_numeric(df["Edition_suf"],errors = 'coerce')

In [246]:
df["Edition_suf"].unique()

array([2016., 2012., 1982., 2017., 2006., 2009., 2018., 2015., 2013.,
       1999., 2002., 2011., 1991., 2014., 1989., 2000., 2005., 2019.,
       2008., 2004., 2010., 2007., 2001., 1969., 1993., 1992., 2003.,
       1996.,   nan, 1997., 1995., 1987., 1986., 1990., 1988., 1981.,
       1976., 1994., 1998., 1977., 1974., 1983., 1971., 1985., 1978.,
       1964., 1984., 1980., 1979., 1960., 1970., 1975., 1905., 1900.,
       1961., 1925., 1973., 1942., 1972.])

In [247]:
df["Edition_suf"].replace(np.nan,df["Edition_suf"].mode()[0],inplace=True)

In [248]:
df["Edition_Pre"].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Sheet music',
       'Flexibound', 'Plastic Comb', 'Loose Leaf', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', 'Cards', 'Spiral-bound',
       '(Kannada)', 'Product Bundle', 'Library Binding', '(German)',
       'Leather Bound', '(French)', '(Spanish)', '(Chinese)'],
      dtype=object)

In [249]:
df["Edition_Pre"] = df["Edition_Pre"].str.replace('(','')
df["Edition_Pre"] = df["Edition_Pre"].str.replace(')','')

In [250]:
df["Edition_Pre"].unique()

array(['Paperback', 'Hardcover', 'Mass Market Paperback', 'Sheet music',
       'Flexibound', 'Plastic Comb', 'Loose Leaf', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', 'Cards', 'Spiral-bound',
       'Kannada', 'Product Bundle', 'Library Binding', 'German',
       'Leather Bound', 'French', 'Spanish', 'Chinese'], dtype=object)

In [251]:
df["Edition_Pre"] = df["Edition_Pre"].str.replace(' ','_')
df["Edition_Pre"] = df["Edition_Pre"].str.replace('-','_')

In [252]:
df["Ratings"] = df["Ratings"].str.split(' ').str[0]

In [253]:
df["Ratings"].unique()

array(['8', '14', '6', '13', '1', '72', '16', '111', '132', '17', '4',
       '3', '5', '2', '23', '76', '10', '9', '15', '34', '32', '49', '62',
       '61', '7', '18', '98', '12', '97', '285', '29', '27', '267', '24',
       '146', '95', '234', '35', '66', '20', '39', '171', '399', '42',
       '142', '11', '839', '47', '165', '30', '53', '77', '33', '37',
       '54', '28', '50', '197', '26', '114', '46', '51', '161', '135',
       '41', '156', '1,416', '93', '221', '36', '154', '74', '45', '240',
       '55', '19', '48', '404', '245', '22', '292', '25', '75', '381',
       '44', '443', '425', '21', '238', '84', '68', '108', '52', '57',
       '109', '89', '304', '96', '419', '205', '85', '960', '71', '167',
       '58', '40', '102', '101', '65', '70', '106', '922', '31', '38',
       '63', '177', '138', '164', '257', '207', '64', '56', '196', '82',
       '1,558', '567', '60', '80', '303', '73', '193', '155', '798',
       '128', '87', '90', '286', '565', '137', '99', '403', '277', '902',
       '59', '861', '67', '815', '227', '119', '474', '69', '247', '414',
       '86', '432', '1,142', '168', '382', '79', '141', '220', '732',
       '2,048', '1,097', '226', '649', '160', '140', '2,081', '405',
       '121', '88', '342', '190', '83', '250', '217', '115', '224', '43',
       '136', '230', '283', '184', '186', '110', '187', '81', '107',
       '355', '2,084', '116', '862', '370', '92', '6,090', '215', '893',
       '261', '129', '113', '206', '159', '540', '413', '307', '351',
       '390', '143', '185', '282', '150', '120', '246', '126', '784',
       '174', '397', '172', '158', '863', '291', '225', '1,227', '366',
       '218', '100', '337', '973', '310', '301', '212', '764', '279',
       '255', '251', '653', '894', '3,135', '958', '134', '127', '420',
       '139', '800', '94', '178', '145', '967', '1,392', '264', '122',
       '219', '505', '125', '407', '210', '133', '151', '188', '166',
       '656', '175', '153', '1,684', '149', '163', '199', '157', '203',
       '331', '970', '305', '327', '1,403', '180', '268', '104', '123',
       '290', '396', '287', '244', '670', '223', '117', '867', '91',
       '105', '332', '152', '379', '278', '144', '606', '1,248', '112',
       '295', '450', '298', '899', '570', '871', '356', '249', '179',
       '545', '494', '358', '853', '280', '118', '1,563', '1,259', '200',
       '2,255', '727', '568', '429', '296', '124', '252', '78', '695',
       '3,075', '434', '353', '328', '170', '1,256', '162', '270', '297',
       '615', '421', '253', '325', '308', '804', '551', '288', '483',
       '550', '558', '349', '204', '324', '678', '463', '825', '320',
       '241', '181', '208', '2,005', '130', '433', '367', '1,247', '300',
       '1,263', '497', '176', '679', '866', '4,787', '650', '531'],
      dtype=object)

In [254]:
df["Reviews"] = df["Reviews"].str.split(' ').str[0]

In [255]:
df["Reviews"].unique()

array(['4.0', '3.9', '4.8', '4.1', '5.0', '4.5', '4.4', '4.7', '4.2',
       '4.9', '3.5', '3.8', '4.3', '3.1', '4.6', '2.0', '3.7', '3.2',
       '2.6', '2.8', '3.4', '2.9', '3.3', '3.0', '2.5', '1.0', '3.6',
       '2.7', '1.5', '2.3', '1.7', '2.2', '1.4', '2.4', '1.6', '2.1'],
      dtype=object)

In [256]:
df["Reviews"] = pd.to_numeric(df["Reviews"],errors='ignore')

In [257]:
df["Reviews"].unique()

array([4. , 3.9, 4.8, 4.1, 5. , 4.5, 4.4, 4.7, 4.2, 4.9, 3.5, 3.8, 4.3,
       3.1, 4.6, 2. , 3.7, 3.2, 2.6, 2.8, 3.4, 2.9, 3.3, 3. , 2.5, 1. ,
       3.6, 2.7, 1.5, 2.3, 1.7, 2.2, 1.4, 2.4, 1.6, 2.1])

In [258]:
df["Ratings"] = df["Ratings"].str.replace(',','')

In [259]:
df["Ratings"].unique()

array(['8', '14', '6', '13', '1', '72', '16', '111', '132', '17', '4',
       '3', '5', '2', '23', '76', '10', '9', '15', '34', '32', '49', '62',
       '61', '7', '18', '98', '12', '97', '285', '29', '27', '267', '24',
       '146', '95', '234', '35', '66', '20', '39', '171', '399', '42',
       '142', '11', '839', '47', '165', '30', '53', '77', '33', '37',
       '54', '28', '50', '197', '26', '114', '46', '51', '161', '135',
       '41', '156', '1416', '93', '221', '36', '154', '74', '45', '240',
       '55', '19', '48', '404', '245', '22', '292', '25', '75', '381',
       '44', '443', '425', '21', '238', '84', '68', '108', '52', '57',
       '109', '89', '304', '96', '419', '205', '85', '960', '71', '167',
       '58', '40', '102', '101', '65', '70', '106', '922', '31', '38',
       '63', '177', '138', '164', '257', '207', '64', '56', '196', '82',
       '1558', '567', '60', '80', '303', '73', '193', '155', '798', '128',
       '87', '90', '286', '565', '137', '99', '403', '277', '902', '59',
       '861', '67', '815', '227', '119', '474', '69', '247', '414', '86',
       '432', '1142', '168', '382', '79', '141', '220', '732', '2048',
       '1097', '226', '649', '160', '140', '2081', '405', '121', '88',
       '342', '190', '83', '250', '217', '115', '224', '43', '136', '230',
       '283', '184', '186', '110', '187', '81', '107', '355', '2084',
       '116', '862', '370', '92', '6090', '215', '893', '261', '129',
       '113', '206', '159', '540', '413', '307', '351', '390', '143',
       '185', '282', '150', '120', '246', '126', '784', '174', '397',
       '172', '158', '863', '291', '225', '1227', '366', '218', '100',
       '337', '973', '310', '301', '212', '764', '279', '255', '251',
       '653', '894', '3135', '958', '134', '127', '420', '139', '800',
       '94', '178', '145', '967', '1392', '264', '122', '219', '505',
       '125', '407', '210', '133', '151', '188', '166', '656', '175',
       '153', '1684', '149', '163', '199', '157', '203', '331', '970',
       '305', '327', '1403', '180', '268', '104', '123', '290', '396',
       '287', '244', '670', '223', '117', '867', '91', '105', '332',
       '152', '379', '278', '144', '606', '1248', '112', '295', '450',
       '298', '899', '570', '871', '356', '249', '179', '545', '494',
       '358', '853', '280', '118', '1563', '1259', '200', '2255', '727',
       '568', '429', '296', '124', '252', '78', '695', '3075', '434',
       '353', '328', '170', '1256', '162', '270', '297', '615', '421',
       '253', '325', '308', '804', '551', '288', '483', '550', '558',
       '349', '204', '324', '678', '463', '825', '320', '241', '181',
       '208', '2005', '130', '433', '367', '1247', '300', '1263', '497',
       '176', '679', '866', '4787', '650', '531'], dtype=object)

In [260]:
df["Ratings"] = pd.to_numeric(df["Ratings"],errors='ignore')

In [261]:
df["Ratings"].unique()

array([   8,   14,    6,   13,    1,   72,   16,  111,  132,   17,    4,
          3,    5,    2,   23,   76,   10,    9,   15,   34,   32,   49,
         62,   61,    7,   18,   98,   12,   97,  285,   29,   27,  267,
         24,  146,   95,  234,   35,   66,   20,   39,  171,  399,   42,
        142,   11,  839,   47,  165,   30,   53,   77,   33,   37,   54,
         28,   50,  197,   26,  114,   46,   51,  161,  135,   41,  156,
       1416,   93,  221,   36,  154,   74,   45,  240,   55,   19,   48,
        404,  245,   22,  292,   25,   75,  381,   44,  443,  425,   21,
        238,   84,   68,  108,   52,   57,  109,   89,  304,   96,  419,
        205,   85,  960,   71,  167,   58,   40,  102,  101,   65,   70,
        106,  922,   31,   38,   63,  177,  138,  164,  257,  207,   64,
         56,  196,   82, 1558,  567,   60,   80,  303,   73,  193,  155,
        798,  128,   87,   90,  286,  565,  137,   99,  403,  277,  902,
         59,  861,   67,  815,  227,  119,  474,   69,  247,  414,   86,
        432, 1142,  168,  382,   79,  141,  220,  732, 2048, 1097,  226,
        649,  160,  140, 2081,  405,  121,   88,  342,  190,   83,  250,
        217,  115,  224,   43,  136,  230,  283,  184,  186,  110,  187,
         81,  107,  355, 2084,  116,  862,  370,   92, 6090,  215,  893,
        261,  129,  113,  206,  159,  540,  413,  307,  351,  390,  143,
        185,  282,  150,  120,  246,  126,  784,  174,  397,  172,  158,
        863,  291,  225, 1227,  366,  218,  100,  337,  973,  310,  301,
        212,  764,  279,  255,  251,  653,  894, 3135,  958,  134,  127,
        420,  139,  800,   94,  178,  145,  967, 1392,  264,  122,  219,
        505,  125,  407,  210,  133,  151,  188,  166,  656,  175,  153,
       1684,  149,  163,  199,  157,  203,  331,  970,  305,  327, 1403,
        180,  268,  104,  123,  290,  396,  287,  244,  670,  223,  117,
        867,   91,  105,  332,  152,  379,  278,  144,  606, 1248,  112,
        295,  450,  298,  899,  570,  871,  356,  249,  179,  545,  494,
        358,  853,  280,  118, 1563, 1259,  200, 2255,  727,  568,  429,
        296,  124,  252,   78,  695, 3075,  434,  353,  328,  170, 1256,
        162,  270,  297,  615,  421,  253,  325,  308,  804,  551,  288,
        483,  550,  558,  349,  204,  324,  678,  463,  825,  320,  241,
        181,  208, 2005,  130,  433,  367, 1247,  300, 1263,  497,  176,
        679,  866, 4787,  650,  531], dtype=int64)

In [262]:
df.head()

,Author,BookCategory,Edition,Genre,Price,Ratings,Reviews,Synopsis,Title,Edition_Pre,Edition_suf
0,Chris Kuzneski,Action & Adventure,"Paperback,– 10 Mar 2016",Action & Adventure (Books),220.00,8,4.0,THE HUNTERS return in their third brilliant no...,The Prisoner's Gold (The Hunters 3),Paperback,2016.0
1,Arun Khopkar,"Biographies, Diaries & True Accounts","Paperback,– 7 Nov 2012",Cinema & Broadcast (Books),202.93,14,3.9,A layered portrait of a troubled genius for wh...,Guru Dutt: A Tragedy in Three Acts,Paperback,2012.0
2,Thomas Hobbes,Humour,"Paperback,– 25 Feb 1982",International Relations,299.00,6,4.8,"""During the time men live without a common Pow...",Leviathan (Penguin Classics),Paperback,1982.0
3,Agatha Christie,"Crime, Thriller & Mystery","Paperback,– 5 Oct 2017",Contemporary Fiction (Books),180.00,13,4.1,A handful of grain is found in the pocket of a...,A Pocket Full of Rye (Miss Marple),Paperback,2017.0
4,Editors of Life,"Arts, Film & Photography","Hardcover,– 10 Oct 2006",Photography Textbooks,965.62,1,5.0,"For seven decades, ""Life"" has been thrilling t...",LIFE 70 Years of Extraordinary Photography,Hardcover,2006.0

In [263]:
df.Author.value_counts()

Agatha Christie                           87
Ladybird                                  63
DK                                        61
Albert Uderzo                             48
Herge                                     40
                                          ..
Maria V. Snyder                            1
Linda O'Shea, Chris Grimley, Mimi Love     1
Dennis Bergkamp                            1
Tove Jansson                               1
D.N Chaudhuri                              1
Name: Author, Length: 4372, dtype: int64

In [264]:
df.columns

Index(['Author', 'BookCategory', 'Edition', 'Genre', 'Price', 'Ratings',
       'Reviews', 'Synopsis', 'Title', 'Edition_Pre', 'Edition_suf'],
      dtype='object')

In [265]:
#df_input = df[['BookCategory','Price','Ratings']]
df_input = df.drop(['Author', 'Edition', 'Genre','Synopsis', 'Title'],axis=1)

In [266]:
df_input.head()

,BookCategory,Price,Ratings,Reviews,Edition_Pre,Edition_suf
0,Action & Adventure,220.00,8,4.0,Paperback,2016.0
1,"Biographies, Diaries & True Accounts",202.93,14,3.9,Paperback,2012.0
2,Humour,299.00,6,4.8,Paperback,1982.0
3,"Crime, Thriller & Mystery",180.00,13,4.1,Paperback,2017.0
4,"Arts, Film & Photography",965.62,1,5.0,Hardcover,2006.0

In [267]:
df_input.Edition_Pre.unique()

array(['Paperback', 'Hardcover', 'Mass_Market_Paperback', 'Sheet_music',
       'Flexibound', 'Plastic_Comb', 'Loose_Leaf', 'Tankobon_Softcover',
       'Perfect_Paperback', 'Board_book', 'Cards', 'Spiral_bound',
       'Kannada', 'Product_Bundle', 'Library_Binding', 'German',
       'Leather_Bound', 'French', 'Spanish', 'Chinese'], dtype=object)

In [268]:
df_input['Edition_Pre'].replace({'French':'Paperback','Spanish':'Paperback','Chinese':'Paperback','Kannada':'Paperback','Perfect_Paperback':'Paperback',
                            'Mass_Market_Paperback':'Paperback', 'German':'Paperback',
                                },inplace=True)

In [269]:
df_input['Edition_Pre'].unique()

array(['Paperback', 'Hardcover', 'Sheet_music', 'Flexibound',
       'Plastic_Comb', 'Loose_Leaf', 'Tankobon_Softcover', 'Board_book',
       'Cards', 'Spiral_bound', 'Product_Bundle', 'Library_Binding',
       'Leather_Bound'], dtype=object)

In [270]:
df_input.BookCategory.unique()

array(['Action & Adventure', 'Biographies, Diaries & True Accounts',
       'Humour', 'Crime, Thriller & Mystery', 'Arts, Film & Photography',
       'Sports', 'Language, Linguistics & Writing',
       'Computing, Internet & Digital Media', 'Romance',
       'Comics & Mangas', 'Politics'], dtype=object)

In [271]:
df_cat = df_input.select_dtypes(exclude = np.number)

In [272]:
df_cat.head()

                           BookCategory Edition_Pre
0                    Action & Adventure   Paperback
1  Biographies, Diaries & True Accounts   Paperback
2                                Humour   Paperback
3             Crime, Thriller & Mystery   Paperback
4              Arts, Film & Photography   Hardcover

In [273]:
df_num = df_input.select_dtypes(include=np.number)

In [274]:
df_num.head()

    Price  Ratings  Reviews  Edition_suf
0  220.00        8      4.0       2016.0
1  202.93       14      3.9       2012.0
2  299.00        6      4.8       1982.0
3  180.00       13      4.1       2017.0
4  965.62        1      5.0       2006.0

In [275]:
df_num.Edition_suf.unique()

array([2016., 2012., 1982., 2017., 2006., 2009., 2018., 2015., 2013.,
       1999., 2002., 2011., 1991., 2014., 1989., 2000., 2005., 2019.,
       2008., 2004., 2010., 2007., 2001., 1969., 1993., 1992., 2003.,
       1996., 1997., 1995., 1987., 1986., 1990., 1988., 1981., 1976.,
       1994., 1998., 1977., 1974., 1983., 1971., 1985., 1978., 1964.,
       1984., 1980., 1979., 1960., 1970., 1975., 1905., 1900., 1961.,
       1925., 1973., 1942., 1972.])

In [276]:
df_cat_num = pd.get_dummies(df_cat)

In [277]:
df_cat_num.head()

,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,...,Edition_Pre_Hardcover,Edition_Pre_Leather_Bound,Edition_Pre_Library_Binding,Edition_Pre_Loose_Leaf,Edition_Pre_Paperback,Edition_Pre_Plastic_Comb,Edition_Pre_Product_Bundle,Edition_Pre_Sheet_music,Edition_Pre_Spiral_bound,Edition_Pre_Tankobon_Softcover
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [278]:
df_clean = pd.concat([df_cat_num,df_num],axis='columns')

In [279]:
df_clean.head()

,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,...,Edition_Pre_Paperback,Edition_Pre_Plastic_Comb,Edition_Pre_Product_Bundle,Edition_Pre_Sheet_music,Edition_Pre_Spiral_bound,Edition_Pre_Tankobon_Softcover,Price,Ratings,Reviews,Edition_suf
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,220.00,8,4.0,2016.0
1,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,202.93,14,3.9,2012.0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,299.00,6,4.8,1982.0
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,180.00,13,4.1,2017.0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,965.62,1,5.0,2006.0

In [280]:
df_train = df_clean[df_clean['Price'].notna()]

In [281]:
df_train.shape

(6237, 28)

In [282]:
df_train.head()

,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,...,Edition_Pre_Paperback,Edition_Pre_Plastic_Comb,Edition_Pre_Product_Bundle,Edition_Pre_Sheet_music,Edition_Pre_Spiral_bound,Edition_Pre_Tankobon_Softcover,Price,Ratings,Reviews,Edition_suf
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,220.00,8,4.0,2016.0
1,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,202.93,14,3.9,2012.0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,299.00,6,4.8,1982.0
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,180.00,13,4.1,2017.0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,965.62,1,5.0,2006.0

In [283]:
df_test = df_clean[df_clean['Price'].isna()]

In [284]:
df_test.shape

(1560, 28)

In [285]:
df_test.head()

,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,...,Edition_Pre_Paperback,Edition_Pre_Plastic_Comb,Edition_Pre_Product_Bundle,Edition_Pre_Sheet_music,Edition_Pre_Spiral_bound,Edition_Pre_Tankobon_Softcover,Price,Ratings,Reviews,Edition_suf
0,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,NaN,960,4.4,1986.0
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,NaN,1,5.0,2018.0
2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,NaN,4,5.0,2011.0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,NaN,11,4.1,2016.0
4,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,NaN,9,4.4,2011.0

In [286]:
df_train_y = df_train.pop('Price')

In [287]:
df_train_y.head()

0    220.00
1    202.93
2    299.00
3    180.00
4    965.62
Name: Price, dtype: float64

In [288]:
df_train.head()

,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,...,Edition_Pre_Loose_Leaf,Edition_Pre_Paperback,Edition_Pre_Plastic_Comb,Edition_Pre_Product_Bundle,Edition_Pre_Sheet_music,Edition_Pre_Spiral_bound,Edition_Pre_Tankobon_Softcover,Ratings,Reviews,Edition_suf
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,8,4.0,2016.0
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,14,3.9,2012.0
2,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,6,4.8,1982.0
3,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,13,4.1,2017.0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5.0,2006.0

In [289]:
scaler = StandardScaler()
df_train = scaler.fit_transform(df_train)
df_test  = scaler.fit(df_train)

In [290]:
df_train[:5]

array([[ 2.57384817, -0.30064034, -0.32504619, -0.32111188, -0.29841558,
        -0.36210604, -0.30787454, -0.32444284, -0.23446308, -0.31407587,
        -0.28580718, -0.0126633 , -0.03583735, -0.0490999 , -0.38988883,
        -0.0126633 , -0.0126633 , -0.01791005,  0.40637549, -0.0126633 ,
        -0.0126633 , -0.06215198, -0.0253327 , -0.021937  , -0.18658305,
        -0.44260333,  0.51839974],
       [-0.38852331, -0.30064034,  3.07648584, -0.32111188, -0.29841558,
        -0.36210604, -0.30787454, -0.32444284, -0.23446308, -0.31407587,
        -0.28580718, -0.0126633 , -0.03583735, -0.0490999 , -0.38988883,
        -0.0126633 , -0.0126633 , -0.01791005,  0.40637549, -0.0126633 ,
        -0.0126633 , -0.06215198, -0.0253327 , -0.021937  , -0.14657852,
        -0.59355848,  0.01306482],
       [-0.38852331, -0.30064034, -0.32504619, -0.32111188, -0.29841558,
        -0.36210604,  3.24807635, -0.32444284, -0.23446308, -0.31407587,
        -0.28580718, -0.0126633 , -0.03583735, -0.0490999 , -0.38988883,
        -0.0126633 , -0.0126633 , -0.01791005,  0.40637549, -0.0126633 ,
        -0.0126633 , -0.06215198, -0.0253327 , -0.021937  , -0.1999179 ,
         0.76503793, -3.77694709],
       [-0.38852331, -0.30064034, -0.32504619, -0.32111188, -0.29841558,
         2.76162199, -0.30787454, -0.32444284, -0.23446308, -0.31407587,
        -0.28580718, -0.0126633 , -0.03583735, -0.0490999 , -0.38988883,
        -0.0126633 , -0.0126633 , -0.01791005,  0.40637549, -0.0126633 ,
        -0.0126633 , -0.06215198, -0.0253327 , -0.021937  , -0.15324594,
        -0.29164817,  0.64473347],
       [-0.38852331,  3.32623357, -0.32504619, -0.32111188, -0.29841558,
        -0.36210604, -0.30787454, -0.32444284, -0.23446308, -0.31407587,
        -0.28580718, -0.0126633 , -0.03583735, -0.0490999 ,  2.56483368,
        -0.0126633 , -0.0126633 , -0.01791005, -2.4607783 , -0.0126633 ,
        -0.0126633 , -0.06215198, -0.0253327 , -0.021937  , -0.23325501,
         1.06694824, -0.74493757]])

In [291]:
df_test[5]

TypeError: 'StandardScaler' object is not subscriptable

In [ ]:
train_X, test_X, train_y, test_y = train_test_split(df_train,df_train_y,test_size=0.3,random_state= 8)

In [ ]:
train_X.shape

In [ ]:
linear = LinearRegression()
linear.fit(train_X,train_y)

In [ ]:
train_predict = linear.predict(train_X)
test_predict = linear.predict(test_X)
print(mean_squared_error(train_predict,train_y))

In [ ]:
print(mean_squared_error(train_y,train_predict))

In [ ]:
print(np.sqrt(mean_squared_error(train_y,train_predict)))

In [ ]:
print(mean_squared_error(test_predict,test_y))

In [ ]:
linear.score(test_X,test_y)

In [ ]:
RF = RandomForestRegressor()
RF.fit(train_X,train_y)

In [ ]:
RF.score(test_X,test_y)

In [ ]:
train_predict_rf = RF.predict(train_X)
test_predict_rf = RF.predict(test_X)

In [ ]:
print(mean_squared_error(train_predict_rf,train_y))

In [ ]:
print(mean_squared_error(test_predict_rf,test_y))

In [ ]:
def model_fit(model,X_train_train,X_train_test,Y_train_train,Y_train_test,X_test):   
    model.fit(X_train_train,Y_train_train)
    #pd.DataFrame(model.coef_,X_train_train.columns).plot(kind="bar")
    train_predict = model.predict(X_train_train)
    test_predict = model.predict(X_train_test)
    print("Model:" , model)
    print("Train RMSE : ",np.sqrt(mean_squared_error(train_predict,Y_train_train)))
    print("Test RMSE : ",np.sqrt(mean_squared_error(test_predict,Y_train_test)))
    print ( 'number of features used: ' ,  np.sum(model.coef_!=0) )    
   # test_hack_predict = model.predict(test_X.drop(columns=["Item_Identifier","Outlet_Identifier"]))
   # test_pred_df = pd.DataFrame(test_predict,columns= ["Item_Outlet_Sales"])
   # result = pd.concat([test_X[["Item_Identifier", "Outlet_Identifier"]],test_pred_df] ,axis = 1)
   # result.to_csv(filename,index = False)

In [ ]:
model = LinearRegression()
model_fit(model,train_X, test_X, train_y, test_y,df_test)